@page "/users/create"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@using UserManagement.UI.Models
@using UserManagement.UI.Pages.Users.Partials

<EditForm Model="model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <Fields User="model" Readonly="false" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    [CascadingParameter] public MainLayout Layout { get; set; } = default!;
    private UserListItemViewModel model = new();

    protected override void OnInitialized()
    {
        Layout.PageHeader = "Create User";
    }

    private async Task HandleValidSubmit()
    {
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
        var request = new HttpRequestMessage(HttpMethod.Post, "/api/users/Create")
        {
            Content = JsonContent.Create(model)
        };
        if (!string.IsNullOrEmpty(token))
        {
            request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        }
        var resp = await Http.SendAsync(request);
        if (resp.IsSuccessStatusCode)
        {
            // navigate back to users
            Navigation.NavigateTo("/users");
        }
    }
}


