@page "/users/edit/{id}"
@inject HttpClient Http
@inject NavigationManager Navigation
@using UserManagement.UI.Models
@using UserManagement.UI.Pages.Users.Partials

@if (model is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <Fields User="model" Readonly="false" />

        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
}

@code {
    [CascadingParameter] public MainLayout Layout { get; set; } = default!;
    [Parameter] public required string id { get; set; }
    private User? model;

    protected override async Task OnInitializedAsync()
    {
        Layout.PageHeader = "Edit User";
        model = await Http.GetFromJsonAsync<User>($"/api/users/detail/{id}");
    }

    private async Task HandleValidSubmit()
    {
        var resp = await Http.PutAsJsonAsync("/api/users/edit", model!.ToListItemViewModel());
        if (resp.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/users");
        }
    }
}


