@page "/users/edit/{id}"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@using UserManagement.UI.Models
@using UserManagement.UI.Pages.Users.Partials

@if (model is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <Fields User="model" Readonly="false" />

        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
}

@code {
    [CascadingParameter] public MainLayout Layout { get; set; } = default!;
    [Parameter] public required string id { get; set; }
    private UserListItemViewModel? model;

    protected override async Task OnInitializedAsync()
    {
        Layout.PageHeader = "Edit User";
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
        var request = new HttpRequestMessage(HttpMethod.Get, $"/api/users/detail/{id}");
        if (!string.IsNullOrEmpty(token))
        {
            request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        }
        var response = await Http.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            model = await response.Content.ReadFromJsonAsync<UserListItemViewModel>();
        }
        else
        {
            model = null;
        }
    }

    private async Task HandleValidSubmit()
    {
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
        var request = new HttpRequestMessage(HttpMethod.Put, "/api/users/edit")
        {
            Content = JsonContent.Create(model)
        };
        if (!string.IsNullOrEmpty(token))
        {
            request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        }
        var resp = await Http.SendAsync(request);
        if (resp.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/users");
        }
    }
}


