@model UserManagement.Web.Models.Users.UserListItemViewModel

@{
    ViewBag.Title = "Add User";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Users" asp-action="Create">
    <partial name="partials/_fields" />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
