@model UserManagement.Web.Models.Users.UserListItemViewModel

<h2>User Edit</h2>
<form asp-controller="Users" asp-action="Edit">
    <partial name="partials/_fields" />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
